@page "/Login"
@rendermode InteractiveServer

<h1>Your Credentials:</h1>
@*https://learn.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.components.forms.editform?view=aspnetcore-9.0*@
<form action="yqc">
    <div>
        <label for="username">nombre: </label>
        <input type="text" id="username" @bind-value="username">
    </div>
    <div>
        <label for="password">contraseña: </label>
        <input type="password" id="password" @bind-value="password">
    </div>
    <div>
        <label for="register?">nueva cuenta?: </label>
        <input type="checkbox" id="register" @bind="isRegister">
    </div>
    <div>
        <input type="button" value="enviar" @onclick="selection">
    </div>
</form>
<p>--------------------------------------------------------------------------------</p>
<div>
    <p style="color: @color" class="papucho">@valid</p>
</div>

@code {
    private string username="";
    private string password="";
    private bool isRegister;
    private string? valid;
    private string color;
    private string connectionString = "Host=localhost;Database=database_name;Username=username;Password=password";

    private async Task selection(){
        if(isRegister){
            await HandleRegister();
            Console.WriteLine("handleRegister");
        }else{
            await HandleLogin();
            Console.WriteLine("handleLogin");
        }
    }

    private async Task HandleLogin(){
        try 
        {

            using var connection = new Npgsql.NpgsqlConnection(connectionString); // https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html
            await connection.OpenAsync();

            string query = "SELECT COUNT(*) FROM usuarios WHERE nombre = @username AND contraseña = @password";
            using var command = new Npgsql.NpgsqlCommand(query, connection);
            command.Parameters.AddWithValue("username", username);
            command.Parameters.AddWithValue("password", password);

            var result = (long)await command.ExecuteScalarAsync();
            if(result > 0){
                valid = "Se inicio sesion!";
                color = "green";
            }else{
                valid = "las credenciales son incorrectas, intente nuevamente o cree una nueva cuenta";
                color = "red";
            }
        }
        catch (Exception ex) {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
    private async Task HandleRegister(){
        try{
            using var connection = new Npgsql.NpgsqlConnection(connectionString); // https://www.npgsql.org/doc/api/Npgsql.NpgsqlConnection.html
            await connection.OpenAsync();

            string query = "INSERT INTO usuarios (nombre, contraseña) VALUES (@nombre, @contraseña);";
            using var command = new Npgsql.NpgsqlCommand(query, connection);
            command.Parameters.AddWithValue("nombre", username);
            command.Parameters.AddWithValue("contraseña", password);
            var rowsAffected = await command.ExecuteNonQueryAsync();
            if (rowsAffected > 0) {
                valid = "nuevo registro";
                color = "green";
            }
            else {
                valid = "hubo un error";
                color = "red";
            }
        }catch (Exception e) {
            Console.WriteLine("Exception:" + e);
        }
    }
}